body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  align-content: center;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  position:absolute;
}

@media (min-width: 768px) {
  .wrapper {
    /*width: 750px;*/
    width: 100%;
    /*height: 100%;*/
  }
}

@media (min-width: 992px) {
  .wrapper {
    /*width: 970px;*/
    width: 100%;
    /*height: 100%;*/
  }
}

@media (min-width: 1200px) {
  .wrapper {
    /*width: 1100px;*/
    width: 100%;
    /*height: 100%;*/
  }
}

@media (min-width: 1920px) {
  .wrapper {
    /*width: 1800px;*/
    width: 100%;
    /*height: 100%;*/
  }
}

.rowC {
  display: flex;
  flex-direction:row;
}

.entryDiv {
  margin-top: 20px;
}

.titleRow {
  margin-bottom: 30px;
}

.titleCol {
  text-align: center;
  align-items: center;
  align-content: center;
  alignment: center;
  line-height: 80px;
  height: 80px;
}

.titleBtn {
  /*margin-top: 10px;*/
  /*padding: 2px !important;*/
}

.menuListItem {
  margin-bottom: 5px;
}

.menuCol {
  padding-left: 0 !important;
}

.budgetCategory {
  font-size: small;
  font-weight: bold;
  color: #282c34;
}

.budgetAmount {
  font-size: x-small;
}

.core {
  width: 512px;
  margin-bottom: 50px;
}

.coreBtn {
  margin-right: 30px;
}

.middleCol {
  padding-left: 10px;
}

.financeLabel {
  display: grid;
  justify-content: center;
  color: gray;
  font-weight: bold;
}

.financeModal {
  color: red;
  text-align: center;
  border: 1px dotted black;
}