body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.rowC {
  display: flex;
  flex-direction:row;
}

.entryDiv {
  margin-top: 20px;
}

.titleRow {
  margin-bottom: 30px;
}

.titleBtn {
  margin-top: 10px;
}

.menuListItem {
  margin-bottom: 5px;
}

.menuCol {
  padding-left: 0 !important;
}

.budgetCategory {
  font-size: small;
  font-weight: bold;
  color: #282c34;
}

.budgetAmount {
  font-size: x-small;
}

.core {
  width: 512px;
  margin-bottom: 50px;
}

.coreBtn {
  margin-right: 30px;
}

.middleCol {
  padding-left: 10px;
}

.financeLabel {
  display: grid;
  justify-content: center;
  color: gray;
  font-weight: bold;
}

.financeModal {
  color: red;
  text-align: center;
  border: 1px dotted black;
}