body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.titleRow {
  margin-bottom: 30px;
}

.titleBtn {
  margin-top: 10px;
}

.menuListItem {
  margin-bottom: 5px;
}

.core {
  width: 512px;
}

.coreBtn {
  margin-right: 30px;
}